<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada.</p>

<p>Clic en el link para desbloquearla:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
